<div class="modal-header">
	<h5 class="modal-title">{{ tipo === "edit" ? "Editar Nota" : "Adicionar Nota" }}</h5>
	<button type="button" class="btn-close" (click)="fecharModal()"></button>
</div>

<div class="modal-body">
	<form #notaForm="ngForm">
		<div class="mb-3">
			<label for="Titulo" class="form-label">Título</label>
			<input
				type="text"
				class="form-control"
				id="Titulo"
				name="Titulo"
				[(ngModel)]="nota.Titulo"
				required
			/>
		</div>

		<div class="mb-3">
			<label for="Conteudo" class="form-label">Conteúdo</label>
			<textarea
				class="form-control"
				id="Conteudo"
				name="Conteudo"
				[(ngModel)]="nota.Conteudo"
				rows="5"
				required
			></textarea>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="fecharModal()">Cancelar</button>
	<button
		type="button"
		class="btn btn-primary"
		[disabled]="notaForm.invalid"
		(click)="salvarNota()"
	>
		{{ tipo === "edit" ? "Atualizar" : "Adicionar" }}
	</button>
</div>
