<app-nav-bar></app-nav-bar>

<div class="container mt-4 position-relative">
	<button class="btn btn-success rounded button-add shadow-lg" (click)="AddTarefa(modalContent)">
		+
	</button>

	<div *ngIf="Tarefas.length > 0" class="row g-4">
		<div *ngFor="let tarefa of Tarefas" class="col-md-4">
			<app-note-card
				[tarefa]="tarefa"
				(onEdit)="EditTarefa(tarefa, modalContent)"
				(onDelete)="DeleteTarefa(tarefa)"
				(onPinNote)="PinTarefa(tarefa)"
			>
			</app-note-card>
		</div>
	</div>

	<div *ngIf="Tarefas.length === 0" class="text-center mt-5">
		<p class="fs-5">
			Comece criando sua primeira nota! Clique no botão "+" para Adicionar sua primeira nota!
		</p>
	</div>
</div>
<!-- Modal -->
<ng-template #modalContent>
	<app-modal-tarefa
		[tarefa]="Tarefa!"
		*ngIf="InForm"
		(RefreshList)="GetListTarefas()"
		(CloseModal)="CloseModalTarefas()"
	>
	</app-modal-tarefa>
</ng-template>
