<app-nav-bar></app-nav-bar>

<div class="container mt-4 position-relative">
	<button class="btn btn-success rounded button-add shadow-lg" (click)="abrirModal()">+</button>

	<div *ngIf="allNotes.length > 0" class="row g-4">
		<div *ngFor="let tarefa of allNotes" class="col-md-4">
			<app-note-card
				[tarefa]="tarefa"
				(onEdit)="editarNota(tarefa)"
				(onDelete)="deletarNota(tarefa)"
				(onPinNote)="fixarNota(tarefa)"
			>
			</app-note-card>
		</div>
	</div>

	<div *ngIf="allNotes.length === 0" class="text-center mt-5">
		<p class="fs-5">
			{{
				isSearch
					? "Oops! Nenhuma nota encontrada."
					: 'Comece criando sua primeira nota! Clique no botão "+" para Adicionar sua primeira nota!'
			}}
		</p>
	</div>
</div>
<!-- Modal -->
<ng-template #modalContent>
	<app-modal-note
		[noteData]="modalConfig.data"
		(onClose)="fecharModal()"
		(getAllNotes)="buscarNotas()"
	>
	</app-modal-note>
</ng-template>
